body {
    margin: 0;
    background: #1F2937;
}

h1{
    font-family: "Karla";
    font-weight: 800;
    mix-blend-mode: difference;
    color:#10B981
}

#subtitle{
   color: #8e99a3; 
}

#generate-btn{
    background-color: #10B981;
    color: #fff;
    width:191px;
    height: 42px;
    border-radius: 5px;
    border:none;
    margin-top: 20px;
}

.select-button{
    background-color: #273549;
    color: #fff;
    width:191px;
    height: 42px;
    border-radius: 5px;
    border:none;
}